# Alis Build open protos registry (anonymous read access).
# The @internal.ti.alis.build/protobuf stubs are vendored in vendor/ and pull
# @open.alis.services/protobuf from here transitively.
@open.alis.services:registry=https://europe-west1-npm.pkg.dev/alis-org-777777/openprotos-javascript/
